

  <div class="container right-align">
    <div class="row center sign-up-form">
      <div class="col s12 m12 l12">
        <div class="card-panel">
          <h3 class="header"><strong>Sign up!</strong></h3>


          <div class="row">
               <%= form_for(@students, html: {class: "col s12"}) do |f| %>
                  <div class = "row">
                      <div class="input-field col s12">
                        <%= f.label :name, font: "bold" %>
                      </div>
                        <div class="input-field col s12">
                          <%= f.text_field :name, placeholder: "Enter your full name", autofocus: true  %>

                        </div>

                  </div>

                  <div class = "row">

                    <div class="input-field col s12">
                      <%= f.label :email  %>
                    </div>

                    <div class="input-field col s12">
                     <%= f.text_field :email, placeholder: "Enter your email" %>
                    </div>


                  </div>

                   <div class="row">
                      <div class="input-field col s12">
                        <%= f.submit "Submit" , class: "btn orange waves-effect waves-light right" %>
                      </div>
                   </div>


               <%end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>