<!DOCTYPE html>
<html>
  <head>
    <title>AlHafizAcademy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <nav>
    <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Al-Hafiz Academy</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#"></a>Courses</li>
        <li><a href="#">Enrollment</a></li>
        <li><a href="#">Account</a></li>
      </ul>
    </div>
    </div>
  </nav>
  </header>

<main>
  <div class="container">
    <%= yield %>
  </div>
</main>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Al-Hafiz University</h5>
          <p class="grey-text text-lighten-4">The Future Of Science & Commerce.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Information</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"></a>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2021 Al-Hafiz Academy

      </div>
    </div>
  </footer>



  </body>
</html>
